@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #2b9fec;
    transition: background 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}


.theme-toggle {
    position: fixed;
    top: 15px;
    right: 15px;
    background: #fff;
    color: #333;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

body.dark-mode .theme-toggle {
    background: #333;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    background-color: #fff;
    border-radius: 15px;
    width: 960px;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: background 0.3s;
}

body.dark-mode .content {
    background-color: #222;
}

.content::before {
    content: "";
    position: absolute;
    background-image: url('/img/estacio.png'); 
    background-position: top center; 
    background-repeat: no-repeat;
    background-size: 70%; 
    background-color: #000000;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: 0;
}

.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.title-primary {
    color: #ffffff;
}

.title-second {
    color: #097ddd;
}

body.dark-mode .title-second {
    color: #1e90ff;
}

.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.description-primary {
    color: #fff;
}

.description-second {
    color: #adb4b4;
}

body.dark-mode .description-second {
    color: #ccc;
}

.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
    transition: background 0.3s, color 0.3s;
}

.btn-second {
    background-color: #000000;
    border: 1px solid #ffffff;
}

.btn-second:hover {
    background-color: #fff;
    border: 1px solid #000000;
    color: #111111;
}

body.dark-mode .btn-second {
    background-color: #000000;
    border-color: #000000;
}

body.dark-mode .btn-second:hover {
    background-color: #ffffff;
    color: #000;
}

.first-column {
    text-align: center;
    width: 40%;
    position: relative;
    z-index: 1;
}

.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
    padding: 10px;
}

body.dark-mode .form input {
    background-color: adb4b4;
    color: #050505;
}


.password {
    color: #000;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
    transition: color 0.3s;
}

.password:hover {
    text-decoration: underline;
}

body.dark-mode .password {
    color: #1e90ff;
}

@media screen and (max-width: 1040px) {
    .content {
        width: 100%;
        height: 100%;
    }

    .content::before {
        width: 100%;
        height: 40%;
        top: 0;
        border-radius: 0;
    }

    .first-column, .second-column {
        width: 100%;
    }

    .form {
        width: 90%;
    }
}

@media screen and (max-width: 740px) {
    .form {
        width: 50%;
    }
}

@media screen and (max-width: 425px) {
    .form {
        width: 100%;
    }
}
.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    padding: 8px; 
    
    width: 100%;
}

.icon-modify {
    color: #000000;
    font-size: 13px; 
    margin-right: 5px; 
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.campo {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 20px;
}

